*{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    
             main{
                   .titulos {
                   text-align: center;
                   font-size: 1.5em;
                   }

                   .section p {
                   font-size: 20px;
                   }
                   .subtitulos{
                    font-size: 1.5em;
                   }
                       
                   .contenedor {
                   @include center-flex;
                   gap: 20px 
                   }
                   section{
                   width: 90%;
                   padding: 10px;
                   box-sizing: border-box;
                   text-align: center;
                   }
                   section img{
                   width: 100%; 
                   height: auto;
                   }
                
                }
}