button{
                   display: block;
                   margin: auto;
                   margin-top: 10px;
                   }

button.botonempre, button.botonpromo {
  background-color: $color-primary; 
  color: rgb(0, 0, 0);             
  padding: 10px 15px;   
  margin-bottom: 20px;  
  border: none;              
  border-radius: 5px;       
  cursor: pointer;           
  font-size: 15px;         
}

.miboton:hover {
  background-color: #2980b9; 
  }


