button{
                   display: block;
                   margin: auto;
                   margin-top: 10px;
                   }

button.botonempre, button.botonpromo {
  background-color: $color-primary; 
  color: rgb(0, 0, 0);             
  padding: 10px 15px;   
  margin-bottom: 20px;  
  border: none;              /* sin borde */
  border-radius: 5px;        /* esquinas redondeadas */
  cursor: pointer;           /* cambia el cursor al pasar el mouse */
  font-size: 15px;           /* tamaño del texto */
}

.miboton:hover {
  background-color: #2980b9; /* color al pasar el mouse */
}



// BOTON FORM // 