//carrusel principal//
.carousel.slide {
        width: 100%;
        max-width: 768px;
        height: auto;
        margin: 0 10px;
        text-align: center;
     }    
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #0a0ded; 
  border-radius: 50%;
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%); 
}


 // carruseles segunda pagina //
.carruselesposteriores, .carruselesinferiores {
    width: 100%;
    max-width: 768px;
    padding: 0 10px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 20px
  }
.carousel.slide.pagina2 {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: 20px;
    padding: 15px;
}
