img{
width: 360px;
height: 800px;
display: flex;
}

img.egresados{
width: 100%;
max-width: 768px;
height: auto;
margin: 0 10px;
}
img.empresas{
width: 100%;
max-width: 768px;
height: auto;
margin: 0 10px;  
}
